<div class="row">
    {{#each clientes}}
    <div class='col-md-3'>
        <div class='card'>
            <div class='card-body'>
                <h4 class='card-tittle'>
                    {{cedulaUser}} 
                </h4>
                <p> {{nombreUser}}
                </p>
                <p> {{fecNacUser}}
                </p>
                <p> {{tipoUser}}
                </p>
                <p> {{lugarUser}}
                </p>
                <p> {{email}} 
                </p>
                <p> {{telefonoUser}} 
                </p>
                <p> {{usuarioUser}} 
                </p>
            </div>
        </div>
    </div>
    {{else}}
    <div class='card mx-auto'>
        <div class='card-body'>
            <p class="lead"> No hay clientes</p>
        </div>
    </div>
    {{/each}}
</div>