<div class="row">
    {{#each librerias}}
    <div class='col-md-3'>
        <div class='card'>
            <div class='card-body'>
                <h4 class='card-tittle'>
                    {{codigoLibreria}} <a href="/librerias/editar/{{_id}}"> <i class="fas fa-edit"></i> </a>
                </h4>
                <p> {{nombreLibreria}}
                </p>
                <p> {{paisLibreria}}
                </p>
                <p> {{ubicacionLibreria}}
                </p>
                <p> {{telefonoLibreria}}
                </p>
                <p> {{horarioLibreria}}
                </p>
                <form action="/librerias/eliminar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-primary btn-block btn-sm" type="submit">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class='card mx-auto'>
        <div class='card-body'>
            <h1>
                Hola {{user.usuarioUser}}
            </h1>
            <p class="lead"> No hay librerías</p>
            <a href='/librerias/add' class="btn btn-primary btn-block"> Crear librería</a>
        </div>
    </div>
    {{/each}}
</div>
<div>
    <form action="/librerias/add" >
        <input type="hidden" name="_method" >
        <button class="btn btn-primary btn-block btn-sm" type="submit">
            Agregar más librerías
        </button>
    </form>
</div>